div {
    margin: 0 auto;
    /*火狐浏览器下居中*/
    text-align: center;
    /*IE浏览器下居中*/
}

.Block {
    width: 400px;
    /*设置宽度，否则没有居中效果*/
    border: 1px dashed #CC0099;
    /*类选择器设置边框效果*/
    padding: 10px 15px;
    /*设置间距*/
}

#block {
    border: 1px dashed #3366FF;
    /*ID选择器设置边框效果*/
}

.Block {
    font-size: 14px;
    /*类选择器设置字体大小*/
}

.Block p {
    font-size: 16px;
    /*类选择器和ID选择器同时设置字体大小*/
    font-weight: bold;
    /*设置字体加粗样式*/
}

.Block .Para {
    font-weight: normal;
    /*两次类选择器取消加粗样式*/
    line-height: 1.5em;
    /*设置行高*/
    text-align: left;
    /*设置左对齐*/
}

.Block .Para span {
    color: #009966;
    /*复合选择器设置字体颜色*/
}

#block span {
    color: #669933;
    /*ID选择器和标签选择器设置字体颜色*/
    font-weight: bold;
    /*设置加粗样式*/
    font-size: 22px;
    /*设置字体大小*/
}